/*페이지 양식 가운데 정렬(건드리지 말 것)*/
.PostWrite_layout {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  padding: 15px 30px;
  /* border: solid 0.667px lightgray; */
}

/*게시판 표시*/
.PostWrite_title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

/***********************************************************/

/*게시글 작성자 출력영역*/
.PostDetail_profile {
  width: 100%;
}

/**/
.PostDetail_writer {
}

/***********************************************************/
/*게시글 제목, 게시글 내용 폼*/
.post_title,
.post_textarea {
  width: 100%;
  border: solid 0.667px lightgray;
  padding: 15px 30px;
  font-size: 18px;
}

/**/
.post_title {
  height: 40px;
}

/*게시글 제목, 내용 포커스 지움*/
.post_title:focus,
.post_textarea:focus {
  outline: none;
}

/*게시글 내용 input*/
.post_textarea {
  height: 500px;
  resize: none;
  border-top: none;
}

/**************************** 버튼 **************************/

/**/
.PostWrite_btns {
  width: 100%;
  margin: 15px 60px;
  /* border:solid; */
}

/*목록, 제출 버튼*/
.PostWrite_golist,
.post_button {
  width: 101px;
  height: 38px;
  float: right;
  font-size: 14px;
  margin-bottom: 80px;
  margin-left: 5px;
  padding: 0;
  border-radius: 9px;
  background-color: #004fa8;
  color: white;
  border: 0px;
  border-color: #ff000000;
}
