/*************************************게시판 이름*********************************/

/*페이지 레이아웃*/
.PostDetail_layout{
    width:900px;
    margin: auto;
    padding: 15px 30px;
    margin-top:100px;
}


/*게시판 이름 innerbox*/
.PostDetail_titleinnerbox{
    padding: 15px 30px;
    cursor: pointer;
}
/*********************************게시물 출력 박스********************************/

/*게시글 댓글 작성박스*/
.PostDetail_commWritebox{
    display:flex;
    margin-bottom:15px;
    border-top:none;
    border: solid 0.667px lightgray;
}

/**/
.PostDetail_box, .postpage_title, .PostDetail_commentbox{
    border:solid 0.667px lightgray;
}

/**/
.PostDetail_innerbox, .PostDetail_commentinnerbox, .PostDetail_rereinnerbox{
    padding: 15px 30px;
}

/**/
.PostDetail_commentbox{
    border:solid 0.667px lightgray;
    border-top:none;
    font-size:16px;
}

/**/
.PostDetail_comment{
    padding:15px 30px;
}

/******************* 게시글 작성자, 제목, 내용, 좋아요, 스크랩 ********************/

/*작성자 프로필 영역*/
.PostDetail_profile{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

/**/
.PostDetail_middle{
    align-content: center;
}

/*수정,삭제 더보기 버튼*/
.PostDetail_more{
    margin-left: auto; 
    align-content: center;  
    /* background-color: lightblue; */
}

/**/
.PostDetail_dropdown{
    position: absolute;
    background: white;
    border: 1px solid gray;
    padding: 10px;
    /* list-style: none; */
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    float:right;
}

/*작성시간 출력*/
.PostDetail_time{
    color:gray;
    font-size:12px;
    margin-bottom:10px;
}

/*게시글 제목 영역*/
.PostDetail_postTitle{
    font-weight: bold;
    font-size:25px;
    margin-bottom: 15px;
}

/*게시글 내용 영역*/
.PostDetail_content{
    font-size:17px;
    margin-bottom: 15px;
}

/*게시글 좋아요수, 댓글수, 스크랩수*/
.PostDetail_total{
    display: flex;
    margin-bottom: 15px;
}

/*게시글 좋아요 수, 게시글 댓글 수, 게시글 스크랩 수*/
.PostDetail_totallike, .PostDetail_totalcomm, .PostDetail_totalscrap, .PostDetail_likebutton{
    margin-right:15px;
}

/************************************ 이미지 **************************************/

/*게시글 작성자 사진*/
.PostDetail_proImage{
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border-radius: 15%;
    text-align: center;
    align-content: center;
    margin-right: 15px;
    cursor: pointer;
}

/*댓글 작성자 이미지*/
.PostDetail_commproImage{
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-right:5px;
    cursor: pointer;
}

/**/
img{
    width: 100%;
    height: 100%;
}
/********************************** 댓글 ******************************************/

/**/


.PostDetail_rereinnerbox{
}

/**/
.PostDetail_writer{
    display: flex;
    margin-bottom: 6px;

}
/*댓글 작성자*/
.PostDetail_commwriter{
    align-content: center;
    
}

/**/
.PostDetail_postwriter{
    align-content: center;
    margin-left:10px;
    visibility: hidden;
    color:red;
}


/*댓글 버튼들*/
.PostDetail_combtn{
    display:flex;
    margin-left:auto;
}
/*댓글 작성칸 보기 버튼*/
.PostDetail_viewwrite, .PostDetail_heart, .PostDetail_adopt{
    cursor: pointer;
    margin-right:10px;
}


.PostDetail_viewwrite{
    margin-left:auto;
}
/*댓글 좋아요 버튼*/
.PostDetail_heart{

}
/*채택 버튼*/
.PostDetail_adopt{
    
}


/******************대댓글*******************/

/*대댓글 출력 영역*/
.PostDetail_recomment{
    border:solid 0.667px lightgray;
    /* height: 200px; */
    padding: 15px 30px;
}
/*게시글 대댓글*/
.PostDetail_rerecomm{
    border-top: none;
    background-color: #f4f4f4;
    padding:0px 15px;
    display: flex;
}


/*****************댓글 작성 영역*****************/

/*게시글 댓글 작성 영역*/
.PostDetail_commWrite{
    /* width:100%; */
    padding: 15px 30px;
    border:none; 
    background-color: #f4f4f4;
}
/**/
.PostDetail_commWrite:focus{
    outline: none;
}
/************************************ button ***********************************/

/*게시글 좋아요 버튼, 게시글 스크랩 버튼*/
.PostDetail_likebutton, .PostDetail_scrapbutton{
    width: 50px;
    height: 50px;
    border:none;
    background-color: transparent;
    border-radius: 10%;
}

/**/
.PostDetail_likebutton:hover, .PostDetail_scrapbutton:hover{
    
}


/*게시글 댓글 작성 완료 버튼*/
.PostDetail_button{
    padding: 15px 30px;
    border:none;
    width: 100px;
    margin-left:auto;
    background-color: rgba(0, 0, 0, 0);
}

.PostDetail_button:hover{
    background-color: rgba(0, 0, 0, 0);
}

/*목록 버튼*/
.PostDetail_postlistbtn{
    border: solid 0.667px red;
    border-radius:10%;
    width: 55px;
    padding:10px;
    color: red;
    font-weight:bold;
    margin-bottom: 50px;
}


