.button-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.button-group__button {
  background-color: #007bff; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  width: 100px;
}

.button-group__button:hover {
  background-color: #0056b3; /* 버튼 호버 색상 */
}
