@font-face {
    font-family: 'DungGeunMo';
    src: url('../fonts/DungGeunMo.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DS-DIGIB';
    src: url('../fonts/DS-DIGIB.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}