@import url("Font.css");

  
.Information{
  margin-top:200px;
}

.Information__frame{
  /* background-color: #fef5d4; */
  width: 968px;
  height: 80vh;
  margin:auto;
}

.Information__innerframe{
  width: 90%;
  margin:auto;
  padding:10px;
}

.Information__userbox{
  height: 400px;
  margin-bottom:80px;
  background-color: white;
  display:grid;
  grid-template-columns: 300px 550px;
  box-shadow:0px 6px 15px rgba(36, 37, 38, 0.12);
  /* font-family: SCDream7; */
}

.Information__userImage{
  align-content: center;
  padding:30px;
  margin:auto;
}

.Information__tierImage{
  width: 200px;
  height: 200px;
}

.Information__user{
  border-left:solid 0.667px #ABABAB;
  padding:40px;
  /* background-color: aqua; */
}

.Information__userInfo, .Information__userName{
  /* width: 300px; */
  height: 40px;
  /* background-color: lightcyan; */
  margin-bottom:10px;
}

.Information__userTL{
  font-size: 13px;
  margin-top:40px;
}

.Information__userName{
  font-size:28px;
  font-family: "SCDream7";
  margin-bottom:40px;
}

.Information__userInfo, .Information__userTL {
  font-family: "SCDream3";
}

.Information__logo{
  float: right;
}

.Information__postbox{
  display:flex;
}

/*작성한 글, 북마크한 글, 작성한 댓글 div박스 영역*/
.Information__mypost{
  /* background-color: #ffffb5; */
  width: 285px;
  height: 120px;
  border-radius:7px;
  margin-right:10px;
  margin-bottom:30px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  background-color: white;
  cursor: pointer;
  font-family: "SCDream3";
  display: block;
  object-fit: cover;
}

/*작성한 글 등 버튼*/
.Information_mypostBtn{
  text-align: center;
  align-content: center;
  width: 280px;
  height: 120px;
  overflow: hidden;
  transition: all .3s ease-out;
}

.Information_mypostBtn:hover{
  transform: scale(1.1);
}
