@import url("Font.css");


.information-page {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
.Information{
  margin-top:200px;
}

.Information__frame{
  /* background-color: #fef5d4; */
  width: 968px;
  height: 80vh;
  margin:auto;
}

.Information__innerframe{
  width: 90%;
  margin:auto;
  padding:10px;
}

.Information__userbox{
  height: 400px;
  margin-bottom:80px;
  background-color: white;
  display:grid;
  grid-template-columns: 300px 400px;
  box-shadow:0px 6px 15px rgba(36, 37, 38, 0.12);
  /* font-family: SCDream7; */
}

.Information__userImage{
  margin-right:20px;
  align-content: center;
  padding:30px;
  
}

.Information__user{
  border-left:solid 0.667px #ABABAB;
  padding:40px;
  
}

.Information__userInfo, .Information__userName{
  /* width: 300px; */
  height: 40px;
  /* background-color: lightcyan; */
  margin-bottom:10px;
}

.Information__userTL{
  font-size: 13px;
  margin-top:40px;
}

.Information__userName{
  font-size:28px;
  font-family: "SCDream7";
  margin-bottom:40px;
}

.Information__userInfo, .Information__userTL {
  font-family: "SCDream3";
}

.Information__postbox{
  display:flex;
}

.Information__mypost{
  /* background-color: #ffffb5; */
  width: 300px;
  height: 120px;
  border-radius:7px;
  margin-right:10px;
  margin-bottom:30px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  background-color: white;
  cursor: pointer;
  align-content: center;
  text-align: center;
  font-family: "SCDream3";
}

