.loginPage__container {
  display: flex;
  height: 100vh;
  margin: 0; /* 추가: 모든 마진 제거 */
}

.loginPage__imageSection {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage__imageSection img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginPage__loginSection {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: inset -10px 0 15px -10px rgba(0, 0, 0, 0.5);
}

.loginPage__h3 {
  text-align: center;
}

.loginPage__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.loginPage__label {
  margin-bottom: 5px;
}

.loginPage__input {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
}

.loginPage__button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  flex: 1;
  margin: 5px;
}

.loginPage__button:hover {
  background-color: #0056b3;
}

.loginPage__modal {
  z-index: 1050;
}

.loginPage__modal-dialog {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 화면 전체 높이 */
}
