/*********배너 스타일*********/

.Main_banner{
  height: 400px;
  background-color: navy;
  padding: 0px 64px 0;
}
.box_tab{
  display: flex;
  
}
.Main_communication, .Main_study, .Main_else{
  font-size: 15px;
  /* background-color: black; */
}
.box_tab button{
  border-radius:100px;
  padding: 10px 33px;
  font-size: 18px;
  letter-spacing:-.6px;
}
button{
  cursor:pointer;
  border:0;
  font-size: 14px;
  font-weight: bold;
  line-height:1.5;
  font-family: notosans, Malgun Gothic, 맑은 고딕, sans-serif;
  color: #464646;
}
.box_tab ul{
  margin: 0;
  padding-left: 67px;
  padding-right: 89px;
  display: flex;
  padding:19px 0;
  box-sizing: border-box;
}
.Main_title_visual{
  display: block;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: -1.6px;
  color:white;
  padding-top: 96px;
}

/************게시판 카드 스타일*************/
/*게시판 블럭들 스타일*/
.Main_info_cate{
  max-width: 1230px;
  padding-top: 120px;
  margin: 0 auto;
  
  /* background-color: lightblue; */
  
}
/*게시판 카테고리 설명*/
.Main_title_cate{
  font-size: 32px;
  /* background-color: lightcyan; */
  padding-left: 30px;
  letter-spacing: -2px;
  
}
/*게시판 블럭들*/
.Main_content_about ul{
  list-style:none;
  padding-top: 21px;
  display: flex;
  
}

/*게시판 블럭 스타일*/
.Main_card{
  
  width: 250px;
  min-height: 250px;
  padding: 8px;
  cursor: pointer;
  
}
/*게시판 안에 제목, 설명, 아이콘 포함 스타일*/
.Main_card_content{
  /* background-color: lightgreen; */
  width: 233px;
  min-height: 233px;
  padding: 32px;
}
/*게시판 카드 제목*/
.Main_card .Main_card_title{
  display: block;
  position: relative;
  /* background-color: lightgoldenrodyellow; */
  padding-bottom: 20px;
  font-weight: bold;
  font-size:20px;
  letter-spacing: -3px;
}
/*게시판 카드 제목 설명*/
.Main_card_info{
  /* background-color: lightgoldenrodyellow; */
  font-size: 14px;
  color:grey;
}
/*게시판 카드에 들어가는 아이콘 스타일*/
.Main_card_icons{
  background-color: lightseagreen;
  /* position : fixed; */
  float:right;
  width: 120px;
  height: 80px;
}

.Main_content_about .Main_info_cate li{
  margin-right: 14px;
  border-radius: 12px;
  background: #f2f3f6;
  
  
}

.body{
  font-family: notosans, Malgun Gothic, 맑은 고딕, sans-serif;
}
.Main_last_div{
  height: 500px;
}
