/* ProgressBar.css */
.ProgressBar__container {
  position: fixed; /* fixed로 변경 */
  bottom: 20px; /* 원하는 위치로 조정 */
  left: 20px; /* 원하는 위치로 조정 */
  width: 120px;
  height: 120px;
  z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}
.ProgressBar__svg {
  width: 120px;
  height: 120px;
}

.ProgressBar__circleBg {
  stroke: #ff000000;
  fill: transparent;
  stroke-width: 10;
}

.ProgressBar__circle {
  stroke: #3b5998;
  fill: transparent;
  stroke-width: 10;
  transition: stroke-dashoffset 0.35s;
  animation: progress-animation 1s ease-out forwards;
}

@keyframes progress-animation {
  from {
    stroke-dashoffset: 300; /* 이 부분을 360에서 300으로 변경함 <동그란 게이지의 시작점>*/
  }
  to {
    stroke-dashoffset: var(--offset);
  }
}

.ProgressBar__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: transform 0.3s;
}

.ProgressBar__expandedMenu {
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90px;
  text-align: center;
}

.ProgressBar__expandedMenu::before {
  content: "";
  position: absolute;
  top: 100%; /* 말풍선 꼬리 위치 */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent; /* 말풍선 꼬리 색상 */
}

.ProgressBar__expandedMenu::after {
  content: "";
  position: absolute;
  top: 100%; /* 말풍선 꼬리 위치 */
  left: 50%;
  transform: translateX(-50%);
  border-width: 11px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent; /* 말풍선 꼬리 테두리 색상 */
  z-index: -1; /* 꼬리 테두리가 말풍선 뒤로 가도록 설정 */
}

.ProgressBar__expandedMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ProgressBar__expandedMenu ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ProgressBar__expandedProgress {
  position: absolute;
  top: 55%;
  right: -130px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProgressBar__progressBg {
  width: 130px;
  height: 10px;
  background-color: #e0e0de;
}

.ProgressBar__progressFill {
  height: 100%;
  background-color: #3b5998;
  transition: width 1s ease-out; /*왜 안움직이는지 모르겠다*/
}

/* 추가된 CSS: 경험치 레이블 표시 이 두개의 필요성을 잘모르겟다*/
.ProgressBar__labelContainer {
  display: flex;
  justify-content: flex-start; /* 수평 정렬 */
  margin-left: 10px;
}

.ProgressBar__label {
  font-size: 14px;
  color: #000;
}

.ProgressBar__tierName {
  font-weight: bold;
  color: #007bff; /* 스타일을 원하는 대로 조정 */
}
