@import url("Font.css");

.StoreRed__background {
  background-image: url("../images/자판기배경_빨강.jpg");
  z-index: 0;
  position: relative;
  margin-top: 100px;
  height: 90vh; /* 전체 뷰포트 높이에 맞춤 */
}

.StoreRed__section {
  width: 70%;
  margin: auto;
}

/*카테고리 전환 버튼 모음*/
.StoreRed__category {
  display: flex;
  margin: auto;
}

/*카테고리 전환 버튼*/
.StoreRed__cateBtn {
  margin-right: 10px;
  width: 120px;
  height: 20px;
  background-color: red;
}

.StoreRed__middle {
  margin-top: 100px;
  position: fixed;
  width: 737px;
  height: 710px;
  top: 119px;
  left: 591px;
  z-index: 2;
}

.StoreRed__innerFrame {
  padding: 50px;
  height: 710px;
}

.StoreRed__productLine1 {
  display: flex;
  position: relative;
  margin-top: 27px;
  margin-left: 35px;
}
.StoreRed__productLine2 {
  display: flex;
  position: relative;
  margin-top: 41px;
  margin-left: 35px;
}

.StoreRed__product {
  width: 7.3125rem;
  height: 7.3125rem;
  background-color: rgba(217, 217, 217, 0.6); /* 불투명하게 조정 */
  margin-right: 35px;
}

.StoreRed__selectBtnLine1 {
  display: flex;
  flex-wrap: nowrap; /* 줄 바꿈을 방지 */
}

.StoreRed__selectBtn1 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 7px;
  margin-left: 56px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn1:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}

.StoreRed__selectBtn2 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 6px;
  margin-left: 74px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn2:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}

.StoreRed__selectBtn3 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 6px;
  margin-left: 75px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn3:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}
.StoreRed__selectBtn4 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 6px;
  margin-left: 75.9px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn4:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}

.StoreRed__selectBtnLine2 {
  display: flex;
  flex-wrap: nowrap; /* 줄 바꿈을 방지 */
}
.StoreRed__selectBtn5 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 28px;
  margin-left: 54px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn5:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}
.StoreRed__selectBtn6 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 28px;
  margin-left: 75.5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn6:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}

.StoreRed__selectBtn7 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 28px;
  margin-left: 75px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn7:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}
.StoreRed__selectBtn8 {
  width: 4.6875rem;
  height: 1.4375rem;
  border: none;
  border-radius: 0.875rem 0.875rem 0.4375rem 0.4375rem;
  background: #d9d9d9;
  margin-top: 28px;
  margin-left: 75.9px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.StoreRed__selectBtn8:hover {
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}

.StoreRed__coin {
  width: 200px;
  height: 54px;
  background-color: #ff000000;

  font-size: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: "DS-DIGIB";

  margin-top: 62px;
  margin-left: 330px;
  display: flex;
}

.StoreRed__cointext {
  font-size: 22px;
  margin-left: 10px;
  padding-top: 15px;
  align-self: center;
  color: white;
}

.StoreRed__NextBtn, .StoreRed__PrevBtn{
  z-index:9999;
  position:fixed;
  top:500px;
  background: transparent;
  border: none;
  width: 90px;
  transition: 0.3s ease-in-out;
}

.StoreRed__PrevBtn{
  position:fixed;
  left:350px;
}
.StoreRed__NextBtn{
  position:fixed;
  left:1450px;
}
.StoreGreen__leftBtn, .StoreGreen__rightBtn{
  width: 100px;
}

.StoreRed__NextBtn:hover, .StoreRed__PrevBtn:hover{
  background-color: transparent;
  -webkit-transform: scale(1.033);
  transform: scale(1.033);
}

.StoreRed_priceLabel {
  position: absolute; /* 절대 위치 설정 */
  z-index: 3; /* 제품 위에 표시되도록 z-index 조정 */
  color: black; /* 텍스트 색상 설정 */
  font-size: 17px; /* 필요에 따라 크기 조정 */
  bottom: 0px;
  margin-left: 36px;
  font-family: "DungGeunMo";
}
